$mainFont: 'open sans', serif;
$fontSize: 18px;
$lineHeight: 24px;
$mainColor: #202022;

body {
    font-family: $mainFont;
    font-size: $fontSize;
    line-height: $lineHeight;
    text-shadow: 1px 1px 0 #fff;
    color: $mainColor;
    background-color: lighten($mainColor, 85%);
}

h1 {
    font-size: $fontSize * 1.3;
}

ul {
    li {
        padding: 10px 0;
        list-style: none;
        border-bottom: 1px lighten($mainColor, 60%) dotted;
        font-size: $fontSize * 0.8;
    }
}